---
import DriversTable from "@/components/DriversTable.svelte";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Inky 500 | Drivers"
  description={`View statistics for all the drivers in the Inky 500 🛞`}
>
  <h1>Drivers</h1>
  <DriversTable client:load />
</Layout>
