---
import { ChevronDown, ChevronUp, Minus } from "lucide-astro";

type Props = {
  delta: number;
};

const { delta } = Astro.props;
---

<div class="flex items-center text-green-500">
  {
    delta > 0 ? (
      <ChevronUp class="stroke-green-500" />
    ) : delta < 0 ? (
      <ChevronDown class="stroke-red-500" />
    ) : (
      <Minus class="stroke-gray-500" />
    )
  }

  <span class="font-bold">{delta !== 0 ? Math.abs(delta) : null}</span>
</div>
