---
import { cn } from "@/lib/utils";
import { Badge } from "./ui/badge";

export type Status = "complete" | "upcoming" | "in-progress";

type Props = {
  status: Status;
  date?: string;
};

const statuses: Record<Status, { color: string; label: string }> = {
  complete: { color: "bg-green-600", label: "Complete" },
  upcoming: { color: "bg-yellow-600", label: "Upcoming" },
  "in-progress": { color: "bg-blue-600", label: "In Progress" },
};

const { status, date } = Astro.props;
---

<div class="absolute bottom-3 right-3">
  <Badge class={cn(statuses[status].color, "opacity-90 pointer-events-none")}>
    {statuses[status].label}{date ? ` - ${date}` : ""}
  </Badge>
</div>
