---
import { Card, CardHeader, CardTitle, CardDescription } from "./ui/card";
import { Table, TableBody } from "./ui/table";
import Badge from "./ui/Badge.astro";

type Props = {
  title: string;
  description?: string;
  className?: string;
  link?: string;
};

const { title, description, className, link } = Astro.props;
---

<Card className={className}>
  <CardHeader className="text-center">
    <CardTitle>{title}</CardTitle>
    <CardDescription>{description}</CardDescription>
    {
      link ? (
        <div>
          <a href={link} target="_blank">
            <Badge variant="outline">🔍 View detailed breakdown</Badge>
          </a>
        </div>
      ) : null
    }
  </CardHeader>
  <Table>
    <TableBody>
      <slot />
    </TableBody>
  </Table>
</Card>
