---
import Card from "./ui/card/Card.astro";
import CardDescription from "./ui/card/CardDescription.astro";
import CardHeader from "./ui/card/CardHeader.astro";
import CardTitle from "./ui/card/CardTitle.astro";
import Badge from "./ui/Badge.astro";
import TableBody from "./ui/table/TableBody.astro";
import Table from "./ui/table/Table.astro";

type Props = {
  title: string;
  description?: string;
  className?: string;
  link?: string;
};

const { title, description, className, link } = Astro.props;
---

<Card className={className}>
  <CardHeader className="text-center">
    <CardTitle>{title}</CardTitle>
    <CardDescription>{description}</CardDescription>
    {
      link ? (
        <div>
          <a href={link} target="_blank">
            <Badge variant="outline">🔍 View detailed breakdown</Badge>
          </a>
        </div>
      ) : null
    }
  </CardHeader>
  <Table>
    <TableBody>
      <slot />
    </TableBody>
  </Table>
</Card>
