---
import { cn } from "@/lib/utils";

const { className, ...props } = Astro.props;
---

<div
  class={cn(
    "relative rounded-lg border text-card-foreground shadow-xs h-full",
    className
  )}
  {...props}
>
  <slot />
</div>
